body {
  font-family: verdana;
  margin: 100px 100px 100px;
  cursor: default;
}

ul {
  list-style-type: none;
  padding-left: 0
}

#playerNameInput {
    width: 200px
}

#playerPositionInput {
  width: 40px
}

li {
  background-color: #1199dc;
  color: white;
  width: 200px;
  border-radius: 4px;
  padding: 10px 10px 10px;
  margin-top: 5px;
}

a {
  float: right;
  text-decoration: none;
  /*font-weight: 800;*/
  color: inherit;
}

input {
  border-radius: 4px;
  padding: 10px 10px 10px;
  margin-top: 5px;
}
